<ion-header>
  <ion-toolbar>
    <ion-title>Trip Details</ion-title>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = 'my-trips'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <div style = "width: 100%; text-align: center;">{{ current_trip.name }}</div>
    </ion-item-divider>
    <ion-item-divider>
      <div style = "width: 100%; text-align: center;">${{ current_trip.budget }}</div>
    </ion-item-divider>
    <ion-item-divider>
      <div style = "width: 100%; text-align: center;">{{ current_trip.category }}</div>
    </ion-item-divider>
    <ion-item-divider>
      <div style = "width: 100%; text-align: center;">{{ current_trip.start }}</div>
    </ion-item-divider>
    <ion-item-divider>
      <div style = "width: 100%; text-align: center;">{{ current_trip.end }}</div>
    </ion-item-divider>
  </ion-list>
  <ion-button expand = "full" color = "primary" (click) = "editTrip()">Edit Trip</ion-button>
</ion-content>
