<ion-header>
  <ion-toolbar>
    <ion-title>Add Attraction</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="addAttractionElements">    

    <ion-label color="primary" position="floating">Attraction name</ion-label>
      <ion-input id="attractionName" type="text" [(ngModel)]='attractionName'></ion-input>

    <ion-label color="primary" position="floating">Image url</ion-label>
      <ion-input id="attractionImg" type="text" [(ngModel)]='attractionImg'></ion-input>

    
    <ion-label color="primary">Type of attraction</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="restaurant">Restaurant</ion-select-option>
        <ion-select-option value="park">Park</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
    </ion-select>
    <br>

    <ion-label color="primary" position="floating">Description</ion-label>
      <ion-input id="description" type="text" [(ngModel)]='description'></ion-input>

    <ion-label color="primary" position="floating">City</ion-label>
      <ion-input id="city" type="text" [(ngModel)]='city'></ion-input>
  
    <ion-label color="primary" position="floating">State/Province</ion-label>
      <ion-input id="state-province" type="text" [(ngModel)]='stateprovince'></ion-input>

    <ion-label color="primary" position="floating">Country</ion-label>
      <ion-input id="country" type="text" [(ngModel)]='country'></ion-input>
  
      <br>
  
    <ion-button class="submit-btn" expand="block" type="submit" (click)="addAttraction()">Add Attraction</ion-button>
  </div>

</ion-content>
