<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>

    <ion-buttons slot="end">
        <ion-button (click)="goToSignup()">Sign up</ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-img [src]="imgfile"></ion-img>
</ion-content>

<ion-content>
  <form [formGroup]="loginForm" (submit)="login(loginForm.value)">    

  
  <ion-item>
    <ion-label color="primary" position="floating">Email</ion-label>
    <ion-input placeholder="Email" type="text" formControlName="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="floating">Password</ion-label>
    <ion-input placeholder="Password" type="password" formControlName="password" required></ion-input>
  </ion-item>
    

    <br>

  <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  <ion-button class="submit-btn" id="google-login" display="block" (click)="loginGoogle()">Google Login</ion-button>

  <!-- <ion-button class="submit-btn" class="right" display="inline-block" (click)="loginFacebook()">Facebook Login</ion-button> -->
  </form>

</ion-content>
