<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>

    <ion-buttons slot = "start">
      <ion-back-button defaultHref = '/login'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h3>Create an account</h3>
      </div>

      <div padding>
        <ion-item>
          <ion-input type="text" placeholder="email" [(ngModel)]="user.email" required></ion-input>
        </ion-item>
            
        <ion-item>
          <ion-input type="password" placeholder="password" [(ngModel)]="user.password" required></ion-input>
        </ion-item>
      </div>

      <div padding>
        <ion-button class="submit-btn" expand="block" type="submit" (click)="signup()">Sign up</ion-button>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>
