<ion-header>
  <ion-toolbar>
    <ion-title>My Trips</ion-title>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = 'folder/Inbox'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor = "let trip of trips" (click) = "goToTrip(trip)">
      <ion-label>
        {{ trip.name }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand = "full" color = "primary" (click) = "startNewTrip()">Start a New Trip</ion-button>
</ion-content>
