.submit-btn {
    width: 48%;
    height: 40px;
    display:inline-block;
}

.clear-btn {
    width: 48%;
    height: 40px;
    display:inline-block;
}

#searchElements {
    padding: 20px;
}

#listTitle {
    font-size: 17px;
    padding-left: 20px;
    color: #3880ff;
}