<ion-header>
  <ion-toolbar>
    <ion-title>Attractions</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="addAttraction()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="searchElements">    

    <ion-label color="primary" position="floating">Filter attraction by city</ion-label>
      <ion-input id="city" type="text" placeholder="Where would you like to go?" [(ngModel)]='searchbar'></ion-input>


    <ion-button class="clear-btn" expand="block" type="submit" (click)="clear()">Clear</ion-button>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="search()">Filter by city</ion-button>
  </div>

  <!-- <ion-searchbar [(ngModel)]="searchbar" autocomplete="on" placeholder="Search by city"></ion-searchbar> -->

  <h3 id="listTitle">{{ listTitle }}</h3>
  <ion-list>
    <ion-item *ngFor = "let attraction of currentAttractions" (click) = "goToAttraction(attraction)">
      <ion-label>
        {{ attraction.name }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
